# Виртуальное окружение
.venv/
venv/

# Кэш Python (временные файлы, которые Python создаёт для ускорения)
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Файлы IDE (редакторов кода)
.idea/
.vscode/
*.swp

# Переменные окружения (секреты, пароли — нельзя в git)
.env
.env.local
